@import "../../styles/variables";

#login-button{
    background-color: $pinkorange;
}

#login-avatar{
    background-color: $turq;
}

#login-form{
    background-color: white;
    border-radius: 10px;
    color: black;
    margin-top: 80px;
}