@import "./styles/_variables.scss";


body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif !important;
  background: linear-gradient(10deg, $darkturq 60%, $turq 60%) !important;
}

.content {
  color: white;
}