@import "./styles/_variables.scss";

body {
  height:100% !important;
  margin: 0 !important;
  padding: 0 !important;
  font-family: "Ubuntu", sans-serif !important;
  background-color: $darkturq  !important;
  
}

.content {
  color: white;
  padding-bottom: 2.5rem;  
}

.makeStyles-paper-8 {
  padding: 16px;
  text-align: center;
  background-color: $lightturq !important;
  box-shadow: 1px 1px 2px 2px black !important;
}

.makeStyles-root-7 {
  // display: flex;
  // background-color:white !important;
  margin-top: 10%;
}

.MuiCardContent-root {
  padding: 0 !important;

}

button {
  font-family: 'Righteous', sans-serif !important;
  box-shadow: 1px 1px 2px 2px black !important;
}
