// @import "../../styles/variables";

// .userprofile {
//   position: fixed;
//   background-color: $pinkorange;
//   padding: 25px;
//   width: 100%;
// }

@import "../../styles/variables";

h3 {
    // background: linear-gradient(45deg, $pinkorange 30%, $yelloworange 90%);
    background-color: $pinkorange;
    color: white;  
    font-family: 'Righteous', sans-serif;
    // font: Ubuntu;
    margin-bottom: 0px;
   
}