@import "../../styles/variables";

#signup-button{
    background-color: $pinkorange;
}

#signup-avatar{
    background-color: $lightturq;
}

#signUpForm{
    margin-top: 200px;
    background-color: white;
    color: black;
    border-radius: 10px;
    // padding: 1px
}

p {
    font-style: italic;
}
// #firstName{
//     background-color: $lightturq;
//     color:$darkturq;

// }
// #lastName{
//     background-color: $lightturq;
//     color:$darkturq;

// }
// #email{
//     background-color: $lightturq;
//     color:$darkturq;

// }

// #password{
//     background-color: $lightturq;
//     color:$darkturq;

// }