@import "../../styles/variables";

#signup-button{
    background-color: $pinkorange;
}

#signup-avatar{
    background-color: $lightturq;
}

#firstName{
    background-color: $lightturq;
    color:$darkturq;

}
#lastName{
    background-color: $lightturq;
    color:$darkturq;

}
#email{
    background-color: $lightturq;
    color:$darkturq;

}

#password{
    background-color: $lightturq;
    color:$darkturq;

}