@import '../../styles/variables';

.people {
  position: fixed;
  background-color: $pinkorange;
  padding: 25px;
  width: 100%;
}

h3 {
  background-color: $pinkorange;
  color: white;
  font-family: 'Righteous', sans-serif;
  margin-bottom: 0px !important;
  padding: 0 !important;
}
