@import "../../styles/variables";
@import "../../styles/variables";

.people {
    position: fixed;
    background-color: $pinkorange;
    padding: 25px;
    width: 100%;

}

h3 {
    background-color: $darkturq;
    color: white;  
}