.list-overflow-container {
  max-height: 400px;
  border: 1px #dddddd solid;
  border-radius: 4px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.list-overflow-container ul {
  margin: 0;
  background-color: #eda320;
}

.list-overflow-container li {
  border-radius: 0px;
  border-left: none;
  border-right: none;
  display: flex;
  
}

.list-overflow-container li * {
  cursor: pointer;
}

.list-overflow-container li a {
  color:#01444c;
}

/* .list-overflow-container li:first-child {
  border-top: none;
} */

.list-overflow-container li:last-child {
  border-bottom: none;
}

.list-group{
    justify-content: space-between;
}


.list-group-item {
  align-content: left;
  justify-content: space-between;
  font-size: 22px;
}
