.list-overflow-container {
  max-height: 400px;
  border-radius: 4px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.list-overflow-container ul {
  margin: 0;
  background-color: white;
  padding: 0;
}

.list-overflow-container li {
  border-radius: 0px;
  border-left: none;
  border-right: none;
  display: flex;
  justify-content: space-between;
}

.list-overflow-container li * {
  cursor: pointer;
}

.list-overflow-container li a {
  color: #01444c;
}

.list-overflow-container li:last-child {
  border-bottom: none;
}

.list-group {
  margin-top: 0% !important;
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.list-group-item {
  align-content: left;
  font-size: 22px;
  padding: 0px;
}

.list-group-item img {
height: 90px;
width: 90px;
}

