.chat-application {
  border-radius: 5px;
  /* margin: 6%; */
  height: 50rem;
  display: grid;
  place-items: center;
}
.chat-login {
  width: 600px;
  height: 350px;
  /* border: 5px solid #0091ff; */
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* margin: 10px; */
  /* padding: 16px; */
  text-align: center;
  background-color: white;
  box-shadow: 1px 1px 2px 2px black !important;
}
h4 {
  display: flex;
  background-color: #db784d;
  color: white;
  font-family: "Righteous", sans-serif;
  margin-top: 0px !important;
  margin-bottom: 30px !important;
  border-radius: 5px;
}
#outlined-start-adornment {
  border-radius: 5px;
  width: 100%;
  height: auto;
  margin:  0 !important;
  background-color: white;
}
#chatBtn {
  background-color: #db784d !important;
  margin-top: 50px !important;
}
.chat-inputs {
  margin: 10px;
  width: 200px;
  height: 40px;
  background: transparent;
}
.chat-container {
  width: 600px;
  height: 350px;
  /* border: 5px solid #0091ff; */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  flex: 90%;
  width: 100%;
  padding: 16px;
  text-align: center;
  background-color: #637f7d !important;
  box-shadow: 1px 1px 2px 2px black !important;
}
.messages {
  flex: 80%;
  width: 100%;
  background-color: white;
  padding-left: 20px;
}
.message-container {
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: calc(100%-30px);
}
#You {
  margin-right: 30px;
  justify-content: flex-end;
}
#Other {
  justify-content: flex-start;
  /* background-color: antiquewhite; */
}
#Other .message-individual {
  /* background-color: rgb(124, 226, 90); */
  background-color: #012a2f;
  color: white;
}
.button:hover input { color:#fff }

.message-individual {
  color: black;
  width: 200px;
  height: 60px;
  background-color: #eda320;
  margin: 20px;
  border-radius: 10px;
  display: grid;
  place-items: center;
  margin-right: 10px;
  margin-top: 20px;
  opacity: 0.9;
}
.message-inputs {
  flex: 20%;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.chat-inputs button {
  width: 200px;
  height: 50px;
  border: none;
  background-color: #db784d;
  color: white;
  margin-top: 10%;
}
.message-container h1 {
  font-weight: 300;
  font-size: 17px;
}
.message-inputs input {
  flex: 80%;
  height: calc(100%);
  border: none;
  border-top: 2px solid black;
  background-color: lightgray;
  padding-left: 20px;
  font-size: 20px;
  hover-color:#ffffff;
}
.message-inputs button {
  background-color: #db784d;
  color: white;
  flex: 20%;
  height: 100%;
  border: none;
  font-size: 18px;
}

